ansible-core==2.13.5
async-generator==1.10
attrs==22.1.0
behave==1.2.6
behave-html-formatter==0.9.10
certifi==2022.9.14
cffi==1.15.1
charset-normalizer==2.1.1
cryptography==38.0.2
exceptiongroup==1.0.1
h11==0.13.0
html-testRunner==1.2.1
idna==3.4
iniconfig==1.1.1
Jinja2==3.1.2
LocalSolver==10.5.20211125
pytest~=7.2.0
mock~=4.0.3